<div class="container container_margins">
<form [formGroup]="privateUserInfoForm">
  <h1>Please write needed information below</h1>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" placeholder = "First Name" class="form-control" id="firstName" formControlName = "firstName" required>
      <small *ngIf="firstName.invalid&&firstName.dirty" class="form-text text-danger">
        First name is required
      </small>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" placeholder = "Last Name" class="form-control" id="lastName" formControlName ="lastName">
      <small *ngIf="lastName.invalid&&lastName.dirty" class="form-text text-danger">
        Last name is required
      </small>
    </div>
    <div class="form-group">
      <label for="privateID">ID code</label>
      <input type="text" placeholder = "Private ID" class="form-control" id="privateId" formControlName ="privateID">
      <small *ngIf="privateID.invalid&&privateID.dirty&&privateID" class="form-text text-danger">
        Private customer ID must not be shorter than 11 numbers
      </small>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" placeholder = "Email address" class="form-control" id="email" formControlName = "email">
      <small *ngIf="email.invalid&&email.dirty" class="form-text text-danger">
        Email is invalid
      </small>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input type="text" placeholder = "Phone number" class="form-control" id="phoneNumber" formControlName = "phoneNumber">
      <small *ngIf="phoneNumber.invalid&&phoneNumber.dirty" class="form-text text-danger">
        Phone number is required
      </small>
    </div>
    <div class="form-group">
      <label for="adress">Adress</label>
      <input type="text" placeholder = "Address" class="form-control" id="adress" formControlName = "adress">
      <small *ngIf="adress.invalid&&adress.dirty" class="form-text text-danger">
        Address is required
      </small>
    </div>
    <button class="btn btn-success" (click)="toPreviousPage()">Back</button>
    <button class="btn btn-success" (click)="send()" >Submit</button>
  </form>
</div>
