<div class="container">
  <h1>Please write needed information below</h1>
  <form [formGroup]="privateUser">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="form-group">
      <label for="privateID">ID code</label>
      <input type="text" class="form-control" id="privateId">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input type="text" class="form-control" id="phooneNumber">
    </div>
    <div class="form-group">
      <label for="adress">Adress</label>
      <input type="text" class="form-control" id="adress">
    </div>
    <button class="btn btn-success" (click)="toPreviousPage()">Back</button>
    <button class="btn btn-success" (click)="send()" >Submit</button>
  </form>
</div>