.center-login-btns {
    margin-left:40%;
    padding-bottom:20px;
}

.forgot-link {
    cursor: pointer;
}

input {
    margin: 0 auto !important;
}

div#loginContainer {
    width: 400px;
} 

.loginButton {
    width: 220px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.login-header {
    margin-bottom: 23px;
}
