<div class='container container_margins'>
    <div class="form-header">Login</div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
              <label for="userId">User ID</label>
              <input type="text" placeholder = "User ID" class="form-control" id="userId" formControlName = "userId">
              <small *ngIf="userId.invalid && userId.dirty" class="form-text text-danger">
                User ID is required.
              </small>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" placeholder = "Password" class="form-control" id="password" formControlName = "password">
              <small *ngIf="password.invalid && password.dirty" class="form-text text-danger">
                Password is required.
              </small>
          </div>
        <button class="btn btn-warning form-buttons btn-margin" type="button" (click)="forgotPassword()">Forgot Password?</button>
            <button class="btn btn-warning form-buttons btn-margin " type="submit"
            [disabled]="!this.loginForm.valid">Login</button>
            <button class="btn btn-warning form-buttons btn-margin " type="submit" (click)="goToMain()">Back</button>
            <small *ngIf="badUserData" class="form-text text-danger"> User ID or password is wrong </small>
      </form>
</div>
<app-menu></app-menu>
