<div class='container container_margins' id="changePasCont">
    <div class="form-header changepass-header">Change password</div>
      <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
          <div class="form-group col-sm-12">
              <small>User ID</small>
              <input type="text" class="form-control input_padding" id="userId" formControlName = "userId">
              <small *ngIf="userId.invalid && userId.dirty" class="form-text text-danger">
                User ID is required.
              </small>
          </div>
          <div class="form-group col-sm-12">
              <small>Old password</small>
              <input type="password" class="form-control input_padding" id="oldPassword" formControlName = "oldPassword">
              <small *ngIf="oldPassword.invalid && oldPassword.dirty" class="form-text text-danger">
                Password is required.
              </small>
          </div>

          <div class="form-group col-sm-12"> 
              <small>New password</small>
              <input type="password" class="form-control input_padding" formControlName = "newPassword" id="newPassword">
              <small *ngIf="newPassword.invalid && newPassword.dirty" class="form-text text-danger">
                Password is required.
              </small>
          </div>
            <button class="btn btn-secondary changeMargins" type="submit">Change password</button>
            <small *ngIf="badUserData" class="form-text text-danger"> User ID or password is wrong </small>
      </form>
</div>
