<div class='container container_margins'>
    <div class="form-header">Business customer info</div>
    <div class="inner-container">
<form [formGroup]="businessUserInputForm">
  <div class="row">
    <div class="form-group col-sm-6">
      <small>Company Name</small>
      <input type="text"  class="form-control  input_padding" id="companyName" formControlName = "companyName" required>
      <small *ngIf="companyName.invalid&&companyName.dirty" class="form-text alert errorMesageStyle">Company name is required</small>
    </div>
    <div class="form-group col-sm-6">
      <small>Company Code</small>
      <input type="text" class="form-control  input_padding" id="companyCode" formControlName = "companyCode">
      <small *ngIf="companyCode.invalid&&companyCode.dirty" class="form-text alert errorMesageStyle">Valid company code is required</small>
    </div>
  </div>
    <div class="row">
        <div class="form-group select col-sm-6">
            <small>Country</small>
              <select formControlName="country" id="country" class="form-control  input_padding" >
                  <option *ngFor="let country of countries.countries" [ngValue]="country">
                {{ country }}
              </option>
          </select>
          <small *ngIf="country.invalid && country.dirty" class="form-text alert errorMesageStyle">
              Country is required
            </small>
          </div>
    
    <div class="form-group col-sm-6">
      <small>Address</small>
      <input type="text" class="form-control  input_padding" id="address" formControlName = "address">
      <small *ngIf="address.invalid&&address.dirty" class="form-text alert errorMesageStyle">Address is invalid</small>
    </div>
  </div>
  <div class="row"> 
      <div class="form-group col-sm-6">
          <small>Email</small>
          <input type="text" placeholder="example@info.com" class="form-control  input_padding" id="email" formControlName = "email">
        <small *ngIf="email.invalid&&email.dirty" class="form-text alert errorMesageStyle">Email is invalid</small>
        </div>
    <div class="form-group col-sm-6">
    <small> Phone Number</small>
    <input type="number" placeholder = "370" class="form-control  input_padding" id="phoneNumber" formControlName = "phoneNumber">
    <small *ngIf="phoneNumber.invalid&&phoneNumber.dirty" class="form-text alert errorMesageStyle">Phone number is invalid</small>
  </div>
</div>
    <div class="form-footer">
      <div class="row">
    <button class="btn btn-outline-secondary  form-buttons btn-margin col-sm-3" (click)="toPreviousPage()">Back</button>
    <button class="btn btn-secondary  form-buttons btn-margin col-sm-3" (click)="send()" type="submit"
            [disabled]="!this.businessUserInputForm.valid" >Next</button>
            </div>
            </div>
</form>
</div>
</div>