<div class='container wide container_margins'>
  <div class="form-header">All registered loans</div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"><small>Submission Date</small></th>
      <th scope="col"><small>Asset</small></th>
      <th scope="col"><small>Asset Price</small></th>
      <th scope="col"><small>Leasing Period</small></th>
      <th scope="col"><small>Customer ID</small></th>
      <th scope="col"><small>Leasing Status</small></th>
    </tr>
    </thead>
    <tbody *ngFor="let data of officerContent; let i = index">
    <tr *ngFor="let leasing of data['leasings']; let j = index" (click)="open(content, i, j)">
      <td id="submissionDate"><small>{{leasing.submissionDate}}</small></td> 
      <td id="vehicleInfo"><small>{{leasing.manufacturer}} {{leasing.model}}</small></td>
      <td id="assetPrice"><small>{{leasing.assetPrice}}</small></td>
      <td id="leasingPeriod"><small>{{leasing.leasingPeriod}}</small></td>
      <td id="userID"><small>{{data['customer'].userID}}</small></td>
      <td id="leasingStatus"><small>{{leasing.leasingStatus}}</small></td>
    </tr>
    </tbody>

    <ng-template #content let-c="close" let-d="dismiss">
     
      <div class="card-header">Change loan status
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-6">

              <admin-popup-table-component [leasingData]=this.customerSummaryData></admin-popup-table-component>

          </div>
          <div class="col-md-6">

            <app-table [leasingData]=this.leasingSummaryData></app-table>

            <div [formGroup]="listStatusGroup">
              <select class="form-control" id="leasingStatusList" formControlName = "leasingStatusList">
                  <option disabled value="null" selected>Select new leasing status</option>
                <option name = "status" value="APPROVED" selected="selected">APPROVED</option>
                <option name = "status" value="PROCESSED">PROCESSED</option>
                <option name = "status" value="DENIED">DENIED</option>
              </select>
            </div>

            <button type="button" class="btn btn-secondary" (click)="updateLoanStatus()">Update status</button>
          </div>
        </div>

      </div> 
    </ng-template>

  </table>
</div>
