.tableHeaderText {
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 20px 0px;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    background: #546e7a;
    margin-bottom: 15px;
}

.show-shedule {
    border-top: 1px solid #626262;
    cursor: pointer;
    background-color: rgb(208,217,220);
}

.show-results {
  border-top: 1px solid #626262;
  cursor: pointer;
  background-color: rgb(208,217,220);
  border-radius: 0px 0px 5px 5px;

  
}

#report-pop{min-width: 1000px;}

.close {
    margin-right: 5px;
    margin-top: 3px;
    color: #fff;
}

div#report_container {
    margin-bottom: 15px;
}

.logout_margins {
    margin: 30px 30px;
}

.buttonWidth {
    margin-left: 35px;
    margin-bottom: 30px;
    width: 155px;
  }