<div class='container wide container_margins'>

  <div class="form-header">Your current loans</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><small>Submission Date</small></th>
          <th scope="col"><small>Asset</small></th>
          <th scope="col"><small>Asset Price</small></th>
          <th scope="col"><small>Leasing Period</small></th>
          <th scope="col"><small>Leasing Status</small></th> 
        </tr>
      </thead> 
      <tbody *ngFor="let loan of loanData; let i = index" (click)="open(content, i)">
        <tr class="point"> 
        <td><small>{{loan.submissionDate}}</small></td>
          <td><small>{{loan.manufacturer}} {{loan.model}}</small></td>
          <td><small>{{loan.assetPrice}}</small></td>
          <td><small>{{loan.leasingPeriod}}</small></td>
          <td><small>{{loan.leasingStatus}}</small></td> 
        </tr>
        </tbody>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="container" id="report-pop">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center tableHeaderText">Loan information</h4>
          <div class="report">
            <div class="row">
                <div class="col-sm-6 text-center">
                  <p>Loan information</p>
                    <small>Asset price: {{ loanInfo.assetPrice }} </small><br>
                    <small>Advanced payment percentage: {{ loanInfo.advancePaymentPercent }} %</small><br>
                    <small>Advanced payment amount: {{ loanInfo.advancePaymentAmount }} </small><br>
                    <small>Contract fee: {{ loanInfo.contractFee }} </small><br>
                    <small>Leasing period: {{ loanInfo.leasingPeriod }} </small><br>
                    <small>Leasing status: {{ loanInfo.leasingStatus }} </small><br>
                    <small>Submission date: {{ loanInfo.submissionDate }} </small><br>
                    <small>Engine power: {{ loanInfo.enginePower }} </small><br>
                </div>

                <div class="col-sm-6 text-center">
                  <p>Asset information</p>
                    <small>Asset type: Vehicle </small><br>
                    <small>Manufacturer: {{ loanInfo.manufacturer }} </small><br>
                    <small>Model: {{ loanInfo.model }} </small><br>
                    <small>Manufacturing year: {{ loanInfo.manufacturingDate }} </small><br>

                </div>

            </div>

            <div data-toggle="collapse" class="text-center show-shedule" data-target="#shedule"><small>show payment schedule <i class="fa fa-calendar"></i></small></div>
          </div>
            <table class="table collapse" id="shedule">
              <thead>
                       <tr>
                        <th scope="col"><small>date</small></th>
                        <th scope="col"><small>remaining amount</small></th>
                        <th scope="col"><small>interest payment amount</small></th>
                        <th scope="col"><small>asset value payment amount</small></th>
                        <th scope="col"><small>monthly payment</small></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let payment of monthlypaymentDate">
                        <td><small>{{payment.paymentDate}}</small></td>
                        <td><small>{{payment.remainingAmount}}</small></td>
                        <td><small>{{payment.interestPaymentAmount}}</small></td>
                        <td><small>{{payment.assetValuePaymentAmount}}</small></td>
                        <td><small>{{payment.monthlyPayment}}</small></td>
                      </tr>
                      <tr>
                        <td><small>Asset price:<br> {{loanInfo.assetPrice.toFixed(2)}}</small></td>
                        <td></td>
                        <td><small>Amount:<br> {{totalInterestSum.toFixed(2)}}</small></td>
                        <td></td>
                        <td><small>Sum:<br> {{totalPaymentSum.toFixed(2)}}</small></td>
                      </tr>
                    </tbody>

                </table> 
                </div>          
          </ng-template>
    </table>
</div>
