/* You can add global styles to this file, and also import other style files */

.container {
    width: 35%;
    background: #fff;
    font-weight: 500;
    color: #757473;
    padding: 0px !important;
    font-size: 20px;
    box-shadow: 5px 5px 30px rgba(168, 168, 168, 0.897);
    border-radius: 5px;
}

body {
    background: #eaedf1;
}





.container_margins {
    margin-top: 50px;
    margin-bottom: 20px;
 }
 
 .form-header {

    padding: 20px 5px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    font-size: 30px;
    font-weight: 500;
    background-color: #ffc107;
    color: ghostwhite;
}

.form-footer {
    padding: 30px 5px;
    margin: 0px 40px;
}



.inner-container {

    margin: 20px 10px;

}

.btn-margin {

    width: 45%;
    margin: auto;
       
}

input[type=text] {

    color: black;
    font-weight: 500;

}





 
