/* You can add global styles to this file, and also import other style files */

.container {
    width: 35%;
    background: #fff;
    font-weight: 500;
    color: #626262;
    padding: 0px !important;
    font-size: 20px;
    box-shadow: 5px 5px 30px rgba(168, 168, 168, 0.897);
    border-radius: 5px;
}

body {
    background: #eaedf1;
}





.container_margins {
    margin-top: 50px;
    margin-bottom: 20px;
 }
 
 .form-header {

    padding: 20px 5px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    font-size: 30px;
    font-weight: 500;
    background-color: #ffc107;
    color: ghostwhite;
}

.form-footer {
    padding: 30px 5px;
    margin: 0px 40px;
}



.inner-container {

    margin: 20px 10px;

}

.btn {
    font-weight: 500;
}
.btn-warning {
    color: #4d4d4d;
}

.btn-margin {

    width: 45%;
    margin: auto;
       
}

input[type=text], input[type=number] {

    color: #495057;
    font-weight: 500;

}

option {
    color: #495057;
    font-weight: 500;
}

select {
    color: #495057;
    font-weight: 500;
}

.calculated {

    border-bottom: 3px solid #ffc107;
}



input[type=text]:focus {
    box-shadow: inset 0 -2px 0 #ffc107 !important;
}

select:focus, select.form-control:focus {

    box-shadow: inset 0 -2px 0 #ffc107 !important;
}


input[type=number]:focus {
    box-shadow: inset 0 -2px 0 #ffc107 !important;
}





 
