/* You can add global styles to this file, and also import other style files */

.container {
    width: 35%;
    background: #fff;
    border-radius: 5px;
    font-weight: 500;
    color: #f35b1c;
    padding: 0px !important;
}

body {
    background: #eaedf1;
}

.container_margins {
    margin-top: 50px;
    margin-bottom: 20px;
 }
 
 .form-header {

    padding: 10px 5px;
    text-align: center;
    background:linear-gradient(to right,#f58322 0,#ffcb13 100%);
    border-radius: 5px 5px 0px 0px;
}

.form-header {

    padding: 10px 5px;
    text-align: center;
    background:linear-gradient(to right,#f58322 0,#ffcb13 100%);
    border-radius: 5px 5px 0px 0px;
}

.inner-container {

    margin: 20px 10px;
}

 
