<table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <app-table-row [fieldName]="'Submission date: '" [data]=this.leasingData.submissionDate ></app-table-row>
    <app-table-row [fieldName]="'Manufacturer: '"    [data]=this.leasingData.manufacturer ></app-table-row>
    <app-table-row [fieldName]="'Model: '"           [data]=this.leasingData.model ></app-table-row>
    <app-table-row [fieldName]="'Manufacturing date: '" [data]=this.leasingData.manufacturingDate ></app-table-row>
    <app-table-row [fieldName]="'Advance payment amount: '" [data]=this.leasingData.advancePaymentAmount ></app-table-row>
    <app-table-row [fieldName]="'Advance payment percent: '" [data]=this.leasingData.advancePaymentPercent ></app-table-row>
    <app-table-row [fieldName]="'Contract fee: '" [data]=this.leasingData.contractFee ></app-table-row>
    <app-table-row [fieldName]="'Engine power: '" [data]=this.leasingData.enginePower ></app-table-row>
    <app-table-row [fieldName]="'Margin: '" [data]=this.leasingData.margin ></app-table-row>
    <app-table-row [fieldName]="'Period: '" [data]=this.leasingData.leasingPeriod ></app-table-row>
    <app-table-row [fieldName]="'Monthly payment date: '" [data]=this.leasingData.paymentDate ></app-table-row>
    <tr>
    </tbody>
</table>