div#resetContainer {
    width: 400px;
}

input.form-control:focus {
    box-shadow: inset 0 -2px 0 #546e7a;
}

.forget-header {
    margin-bottom: 23px;
}


.resetButton {
    width: 220px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#modalCustomWidth {
    width: 33%;
}