<div class='container container_margins'>
  <div class="form-header">Password recovery</div>
  <form [formGroup]="forgetPasswordForm">
    <div class="form-group">
      <label for="userId">User ID</label>
      <input type="text" placeholder = "User ID" class="form-control" id="userId" formControlName = "userId">
      <small *ngIf="userId.invalid && userId.dirty" class="form-text text-danger">
        User ID is required.
      </small>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" placeholder = "email" class="form-control" id="email" formControlName = "email">
      <small *ngIf="email.invalid && email.dirty" class="form-text text-danger">
        User email is required.
      </small>
    </div>

    <button class="btn btn-warning form-buttons btn-margin " type="submit" [disabled]="!this.forgetPasswordForm.valid"
            (click)="checkIfCustomerExists()">Submit</button>
    <button class="btn btn-warning form-buttons btn-margin " type="submit">Back</button>
     <small *ngIf="!customerFound" class="form-text text-danger"> No such user found </small>
  </form>
</div>
