<div class='container container_margins  text-center' id="resetContainer">
  <div class="form-header forget-header">Password recovery</div>
  <form [formGroup]="forgetPasswordForm">
    
    <div class="form-group col-sm-12">
      <input type="text" placeholder = "User ID" class="form-control input_padding" id="userId" formControlName = "userId">
      <small *ngIf="userId.invalid && userId.dirty" class="form-text alert errorMesageStyle">
        User ID is required.
      </small>
    </div>
    <div class="form-group col-sm-12">
      <input type="email" placeholder = "email" class="form-control input_padding" id="email" formControlName = "email">
      <small *ngIf="email.invalid && email.dirty" class="form-text alert errorMesageStyle">
        User email is required.
      </small> 
    </div> 

        <!-- Modal -->
        <div class="modal fade" id="passwordChangePop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="modalCustomWidth" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <svg class="icon" id="succedIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><circle class="circle" cx="30" cy="30" r="30" fill="none"/><path class="check" fill="none" d="m12.5 28l10.0 13 24-22.2"/></svg>
                </div>
                <div class="modal-body" id="modal-bodys">
                    <div>A link to reset your password has been sent to {{this.email.value}}.</div>
                </div>
                <div class="modal-footer">
                  <button type="button" id="modalClose" (click)="closeModal()">Close</button>
                </div>
              </div>
            </div>
          </div>
    
    <small *ngIf="!customerFound" class="form-text text-danger"> No such user found </small>
    <small *ngIf="errorMessage!=null" class="form-text text-danger"> {{errorMessage}} </small>
    <div>
    <!-- <button class="btn btn-secondary form-buttons btn-margin" type="submit" (click)="back()">Back</button> -->
    <button class="btn btn-secondary form-buttons btn-margin resetButton" type="submit" [disabled]="!this.forgetPasswordForm.valid"
            (click)="submit()" >Submit</button>
  </div>
    </form>
</div>
