<div class='container container_margins col-sm-6'>
        <div class="form-header">Loan info</div>
        <div class="inner-container">
        <form [formGroup]="loanForm" (ngSubmit)="send()">

                        <div>
                                <div class="row">
                                        <div class="form-group col-sm-6 text-center">
                                                <small>Customer Type</small>
                                                 <select class="form-control" id="customerType" (input) ="userTypeChange($event.target.value)" formControlName="customerType">
                                                        <option disabled value="null" selected>Please Choose Customer Type</option>
                                                        <option name="Private">Private</option>
                                                        <option name="Business">Business</option>
                                                </select>
                                                <small *ngIf="customerType.invalid && customerType.dirty" class="form-text alert alert-danger">Customer type is required</small>
                                        </div>
                                        <div class="form-group col-sm-6 text-center">
                                                        <small>Asset Type</small>
                                                        <select class="form-control" id="assetType" formControlName="assetType">
                                                                <option disabled value="null" selected>Please Choose Asset Type</option>
                                                                <option value="vehicle" selected>Vehicle</option>
                                                        </select>
                                                        <small *ngIf="assetType.invalid && assetType.dirty" class="form-text alert alert-danger">Asset type is invalid.</small>
                                                </div>
                                </div>
                                <div class="row">
                                        <div class="form-group col-sm-6 text-center">
                                                        <small>Car brand</small>
                                                        <select class="form-control" id="carBrand" formControlName="carBrand" (change)="findModels()">
                                                                <option disabled value="null" selected>Please Choose Car Brand</option>
                                                                <option *ngFor="let selectedBrand of brands" [value]="selectedBrand">{{selectedBrand}}</option>
                                                        </select>
                                                        <small *ngIf="carBrand.invalid && carBrand.dirty" class="form-text alert alert-danger">Please select car brand.</small>
                                        </div>
                                <div class="form-group col-sm-6 text-center">
                                        <small>Car Model</small>
                                                <select class="form-control" id="carModel" formControlName="carModel">
                                                        <option disabled value="null" selected>Please Choose Car Model</option>
                                                        <option *ngFor="let selectedModels of models" [value]="selectedModels">{{selectedModels}}</option>
                                                </select>
                                        </div>

                                </div>
                        </div>

                        <div class="row">
                                <div class="form-group col-sm-6 text-center">
                                        <small>Year</small>
                                                <input type="text" class="form-control" id="year" name="year" formControlName="year">
                                                <small *ngIf="year.invalid && year.dirty" class="form-text alert alert-danger">Please enter valid year (starting from 2000).</small>

                                </div>
                                <div class="form-group col-sm-6 text-center">
                                        <small>Engine power (kW)</small>

                                                <input type="text" class="form-control" id="enginePower" name="enginePower" formControlName="enginePower">
                                                <small *ngIf="enginePower.invalid && enginePower.dirty" class="form-text alert alert-danger">Engine power is invalid.</small>

                                </div>
                        </div>
                        <div class="row">
                        <div class="form-group col-sm-6 text-center">
                                <small>Asset price</small>
                                        <input type="text" class="form-control" id="assetPrice" name="assetPrice" formControlName="assetPrice">
                                        <small *ngIf="assetPrice.invalid&&assetPrice.dirty" class="form-text alert alert-danger">Asset price is invalid.</small>

                        </div>
                                <div class="form-group col-sm-6 text-center">
                                <small>Advanced payment amount</small>
                                        <input type="text" class="form-control" id="paymentPercentage" name="paymentPercentage" formControlName="paymentPercentage">
                                        <small *ngIf="paymentPercentage.invalid && paymentPercentage.dirty" class="form-text alert alert-danger">Advanced payment percentage is invalid. Minimum 10 percent</small>
                                </div>
                        </div>

                        <div class="form-group form-inline period col-sm-12 ">
                                        <small>Lease period</small>
                                        <div class="range-slider row" >
                                                <input class="range-slider__range" type="range" value="48" min="6" max="84" step="6" id="leasePeriod" name="leasePeriod" formControlName="leasePeriod" >
                                               <span class="range-slider__value">0</span>
                                              </div>


                                </div>

                <div class="row">
                        <div class="form-group col-sm-6 text-center">
                                <small >Margin</small>
                                        <input type="text" class="form-control" id="margin" name="margin" formControlName="margin">
                                        <small *ngIf="margin.invalid && margin.dirty" class = "form-text alert alert-danger">Margin is invalid. Minimum 3.2 percent </small>
                        </div>
                        <div class="form-group col-sm-6 text-center">
                                <small>Payment day</small>
                                        <select class="form-control" id="paymentDay" formControlName="paymentDay">
                                                <option disabled value="null" selected>Please Choose Payment Day</option>
                                                <option name="paymentDay">15</option>
                                                <option name="paymentDay">30</option>
                                        </select>
                                        <small *ngIf="paymentDay.invalid && paymentDay.dirty" class="form-text alert alert-danger">Payment day is invalid.</small>

                        </div>
                </div>
                        <h5 *ngIf="assetPrice.valid&&paymentPercentage.valid">Calculated advanced payment amount: <span class="calculated">{{calculateAdvancedPaymentAmount()}}</span></h5>
                        <h5>Contract fee: <span class="calculated">{{calculateContractFee()}}</span></h5>

                        <div class="form-footer">
                                <div class="row">
                           <button class="btn btn-outline-secondary form-buttons  btn-margin col-sm-3" (click) = "this.reset()" type = "button"  >Reset</button>
                           <button class="btn btn-outline-secondary form buttons btn-margin col-sm-3" [disabled]="!this.loanForm.valid" (click)="open(content)" type = "button">
                             Payment information </button>
                           <button class="btn btn-secondary form-buttons btn-margin col-sm-3" [disabled]="!this.loanForm.valid" type="submit"  >Next</button>
                        </div>
                        </div>
                </form>
                <ng-template #content let-c="close" let-d="dismiss">
                        <div class="container">
                                <h4 class="text-center tableHeaderText">Payment information</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                           <div class = "report" id = "results">
                            <h4 class="text-center tableHeaderText"></h4>
                            <div class = "row">
                              <div class="col-sm-6 text-center">
                                <small>Financing amount: {{ this.financingAmount.toFixed(2) }} </small><br>
                                <small>Contract fee: {{calculateContractFee()}} </small><br>
                              </div>

                              <div class="col-sm-6 text-center">
                                <small>Total interest: {{ totalInterestSum.toFixed(2) }} </small><br>
                                <small>Total monthly payment: {{ this.monthlyPayment.toFixed(2) }} </small><br>
                              </div>
                            </div>
                          </div>

                          <div data-toggle="collapse" class="text-center show-shedule" data-target="#shedule"><small>show payment schedule <i class="fa fa-calendar"></i></small></div>
                          <table class="table collapse" id="shedule">
                            <thead>
                            <tr>
                              <th scope="col"><small>Payment date</small></th>
                              <th scope="col"><small>Remaining amount</small></th>
                              <th scope="col"><small>Interest payment amount</small></th>
                              <th scope="col"><small>Asset value payment amount</small></th>
                              <th scope="col"><small>Monthly payment</small></th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let payment of monthlyPaymentData">
                              <td><small>{{payment.paymentDate}}</small></td>
                              <td><small>{{payment.remainingAmount}}</small></td>
                              <td><small>{{payment.interestPaymentAmount}}</small></td>
                              <td><small>{{payment.assetValuePaymentAmount}}</small></td>
                              <td><small>{{payment.monthlyPayment}}</small></td>
                            </tr>
                            <tr>
                              <td><small>Asset price:<br> {{assetPriceValue}}</small></td>
                              <td></td>
                              <td><small>Amount:<br> {{totalInterestSum.toFixed(2)}}</small></td>
                              <td></td>
                              <td><small>Sum:<br> {{totalPaymentSum.toFixed(2)}}</small></td>
                            </tr>
                            </tbody>
                          </table>

                        </div>
                </ng-template>
        </div>

</div>
